# dependencies
node_modules/
/frontend/node_modules
/backend/node_modules

# cache
/frontend/package-lock
/backend/package-lock
/backend/.cache

# build artifacts
/frontend/dist

# local env files
.env
.env.*
!.env.example
/frontend/.env
/backend/.env
/backend/db/config/config.json

# config local de deploy
/scripts/deploy.env
