<table>
    <tr>
      <td colspan="2" class="plan-header">{{NOME}}</td>
    </tr>
    <tr>
      <td>Placa</td>
      <td>{{PLACA}}</td>
    </tr>
    <tr>
      <td>Valor Protegido</td>
      <td>{{VALOR}}</td>
    </tr>
    <tr>
      <td class="plan-header" colspan="2">PLANO {{PLAN_NAME}}</td>
    </tr>
    <tr>
      <td
        colspan="2"
        style="font-weight: bold; padding: 8px; background-color: #eee"
      >
        Coberturas
      </td>
    </tr>
    {{COBERTURAS}}
    <tr>
      <td
        colspan="2"
        style="font-weight: bold; padding: 8px; background-color: #eee"
      >
        Assistências 24h
      </td>
    </tr>
    {{ASSISTENCIAS}}
    {{PRODUTOS}}
    <tr>
      <td colspan="2" class="plan-header">COTAÇÃO DO AGREGADO</td>
    </tr>
    <tr>
      <td>Mensalidade</td>
      <td>{{PRECO_BASE}}</td>
    </tr>
    <tr>
      <td>Taxa de Matrícula</td>
      <td>{{ADESAO}}</td>
    </tr>
    <tr>
      <td>Cota de Participação</td>
      <td>{{VALOR_FRANQUIA}}</td>
    </tr>
  </tbody>
</table>
