<table>
  <tbody>
    <tr>
      <td colspan="2" class="plan-header">Cotação do Veículo</td>
    </tr>
    <tr>
      <td>Mensalidade</td>
      <td>{{MENSALIDADE_DESCONTO}}</td>
    </tr>
    <tr>
      <td>Taxa de Matrícula</td>
      <td>{{TAXA_MATRICULA_DESCONTO}}</td>
    </tr>
    <tr>
      <td>Cota de Participação</td>
      <td>{{COTA_PARTICIPACAO_DESCONTO}}</td>
    </tr>
    <tr>
      <td>Rastreador Obrigatório</td>
      <td>{{RASTREADOR_DESCONTO}}</td>
    </tr>
  </tbody>
</table>
