@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
}

/* scroolbar */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: #282d38;
}

::-webkit-scrollbar-thumb {
  background: #4d566b;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #4d566b;
}

.hoverable {
  cursor: pointer;
  color: gray;
}

.hoverable:hover {
  background-color: #4d566b2b;
  color: #fff !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.brands-checkbox-grid .MuiFormGroup-root {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
